#edit-form{
    width: 80%;
}
div{
    margin: auto;
}

fieldset{
    padding: 2.5rem; 
    border: 0.125rem solid var(--body-text-color);
}


label{   
    font-family: var(--heading-secondary-fontFamily);
    color: var(--heading-primary-color);
    font-weight: 600;
    display: inline;
    width: fit-content;
}

.inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
fieldset > div {
    margin: 1rem;
}

button {
    font-family: var(--body-text-normal-fontFamily);
}
h1 {
    margin-left: 0.4em;
}

input[type=Text], input[type=Number], select, input[type="file"]::file-selector-button{
    font-family: var(--body-text-normal-fontFamily);
    color: var(--body-text-color);
    border-radius: 0.313rem;
    border: 0.125rem solid var(--heading-secondary-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    display: inline;
}

#orderNumber {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type="file"] {
    text-align: left;
    width: 12.5rem;
}

input[type="file"]::file-selector-button {
    width: fit-content;
}

input[type="file"]:hover, input[type="file"]::file-selector-button:hover{ 
    cursor: pointer;
}

.btn-Cancel{
    background-color: #05d17e;
    margin: auto auto 1.25rem auto;
}

.button-group{
    padding-top: 2rem;
    width: fit-content;
    margin: 0 auto;
}
#btnSubmit{
    margin-right: 0.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;

}
form{
    margin-bottom: 0.625rem;
}

.title-group{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    padding-top: 2rem;
    gap: 0.625rem;
}

@media (max-width: 426px) {
    fieldset{
        padding: 0.625rem;
    }
}

@media (max-width: 376px) {
    form{
        width: 100%;
    }
    fieldset{
        width: 100%;
    }
}