/* README:
I copied the css from dashboard.css, as we are basically changing the dashboard to an actual dashboard,
and the ncrlog to how we had it in our other project. Feel free to delete what isn't needed and add what is needed.
*/
.ncr-list{
    grid-column: 1/16;
}

#filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#filter-container > div > div:not([id='statusDiv']) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

select, input {
    width: 12.5em;
    padding: 0.33em;
    border-radius: 0.2em;
}



label {
    margin-left: 0.5em;    
}

#filter-button, #clear-button {
    grid-column: 2/2;
}

#ncrNumSupplierDiv {
    grid-row: 1/1;
    grid-column: 1/3;
    justify-content: initial;
}
#ncrNumSupplierDiv > div + div {
    margin-top: 1.15em !important;
}

#statusDiv {
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    margin-top: 1em !important;
    margin-left: 0;
}

#dateStatusDiv {
    grid-row: 1/1;
    grid-column: 4/-1;
    justify-content: space-between;
    margin-left: 4em;
}

#buttonsDiv {
    display: flex;
    flex-direction: row;
    grid-row: 2/2;
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
}

#dateDiv {
    justify-content: space-between;
}

#infoDiv {
    display: flex;
    flex-direction: column;
    width: max-content;
}
#createNewBtn {
    display: block;
    width: 75%;
    font-size: 12pt;
    text-wrap: nowrap;
    margin-top: 1.25em;
 
}

.a-btn-createNew{
    padding: 1.063rem;
    background-color: #05d17e;
    text-decoration: none;
    color: #fff;
    border-radius:  var(--bs-border-radius);
    margin-right: 1.688rem;
}
/*Filtering section*/
input#ncr-number{
    position: relative;
    right: 6.25rem;
}

label[for="status"]{
    position: relative;
    left: 220px;
}

label[for="supplier"]{
    position: static;
}
label[for="from-date"]{
    display: inline-block;
    position: relative;
    right: 7.5rem;
}
label[for="to-date"]{
    display: inline-block;
    position: relative;
    right: 4.375rem;
}
select#status {
    position: relative;
    margin-left: 0;
    left: 260px;
}
select#supplier{
    position: relative;
    right: 100px;
}

#date-div{
    display: inline-block;
}
#from-date{
    position: relative;
    right: 6.25rem;
}
#to-date{
    position: relative;
    right: 2.5rem;
}
#createDiv {
    grid-column: -1;
}
.ncr-list-action-section {
    background-color: var(--light-grey-background-color);
    display: flex;
    width: 95%;
    padding: 2rem 2rem;
    border-radius: 0.156rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    padding-bottom: 1.33rem !important;
}

.btn-group{
    display: inline-flex;
    margin: 0.313rem;
    align-items: right;
    justify-content: right;
}
.viewNCR{
    position: relative;
    width: 30%;
}
.editNCR{
    position: relative;
    width: 30%;
}


#ncr-list-searchbox
{
    max-width: 32.5rem;
    width: 40%;
    border-radius: 0.313rem;
    padding: 0.313rem ;
    font-family: var(--body-text-normal-fontFamily);
    font-size: 1rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid var(--heading-secondary-color);
    display: flex;
    align-items: center;
}

.ncr-list-searchbutton{
    height: 2.5rem;
    width: 5rem;
    margin-left:  0.2rem;
    border: 1px solid var(--heading-secondary-color);
    font-family: var(--body-text-normal-fontFamily);
    display:flex;
    justify-content: center;
    align-items: center;
}
.ncr-list-clearbutton{
    height: 2.5rem;
    width: 5rem;
    margin-left:  0.2rem;
    border: 1px solid var(--heading-secondary-color);
    font-family: var(--body-text-normal-fontFamily);
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #AF3939 !important;
    color: #fff;
}

#clear-button.btn-group{
    background-color: #AF3939 !important;
}

.cta-btn{
    height: 2.5rem;
}
#ncr-table{
    padding: 1rem 0.5rem;
    width: 95%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
}
#ncr-table th,td{
    padding: 1rem 0.5rem;
}

#ncr-table th:not([class*='name']), td:not([class*='name']) {
    text-align: center;
}

#ncr-table a:hover{
    cursor: pointer;
}
thead{
    background-color: var(--heading-secondary-color);
}
td,th{
    border-right: 1px solid var(--light-grey-background-color);
    color: var(--heading-primary-color);

}
th,td:last-of-type{
    border-right: none;
}
th{
    font-family: var(--body-text-normal-fontFamily);

}
td{
    font-family: var(--heading-primary-fontFamily);
    border-bottom: 1px solid var(--light-grey-background-color);
}
tbody tr:nth-last-child(odd)
{
    background-color: var(--light-grey-background-color);
}
tbody tr:nth-last-child(odd) > td:not([class*='action']) {
    border-right: 1px solid rgba(0, 0, 0, 0.075);
}
input[type=checkbox]:checked
{
    background-color: var(--heading-secondary-color);
}

.pagination{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin:  2rem auto;
    align-items: center;
}

.pagination a{
    text-decoration: none;
    font-family: var(--body-text-normal-fontFamily) ;
    color: var(--heading-primary-color);
    font-size: 1.2rem;
    display: inline-block;

}

#currPage{
    padding: 0.5rem 1.2rem;
    background-color: var(--heading-primary-color);
    color: #fff;
    border-radius: 50%;
}

h2 {
    color: var(--heading-primary-color);
    background-color: var(--light-grey-background-color);
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5rem;
}
@media (max-width: 1024px) {
    input#ncr-number{
        position: relative;
        left: 0;
        width: 70%;
        margin: 0;
    }
    label[for="ncr-number"]{
        display: none;
    }
    label[for="status"]{
        position: static;
        left: 220px;
        display: none;
    }
    
    label[for="supplier"]{
        position: static;
        display: none;
    }
    label[for="from-date"]{
        display: inline-block;
        position: relative;
        right: 80px;
        bottom: 30px;
        
    }
    label[for="to-date"]{
        display: inline-block;
        position: relative;
        right: 80px;
        bottom: 30px;
        margin-left: 15px;
    }
    select#status {
        position: relative;
        left: -75px;
        bottom: 22px;
        width: 124%;
    }
    select#supplier{
        position: static;
        width: 70%;
    }
    
    #date-div{
        display: inline-block;
    }
    #from-date{
        position: relative;
        width: 100%;
        left: -75px;
        bottom: 25px;
    }
    #to-date{
        position: relative;
        width: 100%;
        left: -75px;
        bottom: 25px;
        margin-left: 15px;
    }
    .viewNCR{
        position: relative;
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10px;
    }
    .editNCR{
        position: relative;
        width: 80%;
        margin-right: 10px;
    }
    .a-btn-createNew{
        margin-right: 0;
    }
}

@media (max-width: 769px) {
    input#ncr-number{
        position: relative;
        left: 0;
        width: 70%;
        margin: 0;
    }
    label[for="ncr-number"]{
        display: none;
    }
    label[for="status"]{
        position: static;
        left: 220px;
        display: none;
    }
    
    label[for="supplier"]{
        position: static;
        display: none;
    }
    label[for="from-date"]{
        display: inline-block;
        position: relative;
        right: 80px;
        bottom: 30px;
        
    }
    label[for="to-date"]{
        display: inline-block;
        position: relative;
        right: 80px;
        bottom: 30px;
        margin-left: 15px;
    }
    select#status {
        position: relative;
        left: -75px;
        bottom: 22px;
        width: 124%;
    }
    select#supplier{
        position: static;
        width: 70%;
    }
    
    #date-div{
        display: inline-block;
    }
    #from-date{
        position: relative;
        width: 100%;
        left: -75px;
        bottom: 25px;
    }
    #to-date{
        position: relative;
        width: 100%;
        left: -75px;
        bottom: 25px;
        margin-left: 15px;
    }
    .viewNCR{
        position: relative;
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10px;
    }
    .editNCR{
        position: relative;
        width: 80%;
        margin-right: 10px;
    }
    .a-btn-createNew{
        margin-right: 0;
    }
    .ncr-list{
        align-items: center;
    }
}
@media (max-width: 769px) 
{
    label[for="from-date"]{
        display: inline-block;
        position: relative;
        right: 115px;
        bottom: 30px;
    }
    label[for="to-date"]{
        display: inline-block;
        position: relative;
        right: 130px;
        bottom: 30px;
        margin-left: 15px;
    }

    #from-date{
        position: relative;
        width: 80%;
        left: -110px;
        bottom: 25px;
    }
    #to-date{
        position: relative;
        width: 80%;
        left: -130px;
        bottom: 25px;
        margin-left: 15px;
    }
    select#status {
        position: relative;
        left: -110px;
        bottom: 22px;
        width: 100%;
    }
    .viewNCR{
        position: relative;
        width: 90%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .editNCR{
        position: relative;
        margin-right: 10px;
        margin-left: 5px;
        width: 90%;
       
    }
    .ncr-list{
        align-items: center;
    }
}
